# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env
.env.*

# VS Code
.vscode/

# Logs and temp
*.log
tmp/
*.tmp

# Model files
*.pth
*.index
*.data*

# Jupyter
.ipynb_checkpoints/
AA_Simulation/check_unused_functions.py
*.hapt
*.legend

# results directory
checkpoints/
output/
results/
Plots/
*.csv
*.xls

models/AC_GAN/analysis/analysis_classifier_with_augmentations.ipynb
models/AC_GAN/analysis/compare_models_analysis.py.ipynb
models/AC_GAN/analysis/classifier_analysis.ipynb
models/AC_GAN/analysis/data_analysis.ipynb
.gitignore
.gitignore
models/AC_GAN/analysis/train_classifier_with_synthetic.ipynb
